# Copia in `.env` e compila con i tuoi valori.
# Vedi i commenti in .env per come reperirli.
PUBLIC_GOOGLE_PLACE_ID=""
GOOGLE_PLACES_API_KEY=""

GMAIL_USER=buttosrl@gmail.com
GMAIL_APP_PASSWORD=deca sqgl qktb hpht

